
.logo{
    width: 70px;
    height: 50px;
    border-radius:100%;
}


a1:hover {
  background-color: white;
}

.link{
    margin-left: auto;
    margin-right: auto;
}

.Heading{
    margin-left: 600px;
    margin-top: 10px
}

.hero_img{
    margin-left: 300px;
}













